    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #211910;
    }

    ::-webkit-scrollbar-thumb {
        background: #6D5B46;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #6D5B46;
    }

    body {
        background-color: #EFECE8;
    }

    /* HEADER */

    header {
        background-color: #EFECE8;
        position: sticky;
        /* Para deixar o header fixo em cima */
        top: 0;
        z-index: 1;
        /* Para nao dar conflito com o z-index do login */
    }

    .logo img {
        border-radius: 20px;
    }

    .header-bar {
        display: flex;
        max-width: 1440px;
        margin: 0 auto;
        padding: 30px 0;
        align-items: center;
        border-bottom: 2px solid #adaaaa;
    }

    .bar-options {
        display: flex;
        list-style: none;
        padding: 0 32px;
        gap: 47px;
    }

    .bar-options li {
        color: #575555;
        cursor: pointer;
        transition: transform .15s ease;
    }

    .bar-options a {
        color: #575555;
        cursor: pointer;
        transition: transform .15s ease;
        text-decoration: none;
    }

    .bar-options li:hover {
        text-decoration: underline;
    }

    .bar-options li:active {
        transform: scale(0.98);
    }

    .btnLogin {
        margin-left: auto;
    }

    .btnLogin a {
        background: #211910;
        color: #fff;
        height: 54px;
        width: 146px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 16px;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.12);
        transition: transform .15s ease;
        gap: 8px;
    }

    .user-icon{
        width: 20px;
        height: 20px;
        filter: brightness(0) invert(1);
    }

    .btnLogin a:hover {
        background: #6D5B46;
    }

    .btnLogin a:active {
        transform: scale(0.98);
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }

    .login-container {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #EFECE8;
        padding: 40px 40px;
        border-radius: 14px;

        z-index: 2;
    }

    .login-buttons {
        display: flex;
        gap: 50px;
        padding: 0 0 50px 0;
        justify-content: center;
    }

    .login-btn,
    .cadastrar-btn {
        color: #E9E4DD;
        background: #211910;
        border-radius: 50px;
        width: 146px;
        height: 46px;
        padding: 10px;
        text-align: center;
        cursor: pointer;
    }

    .ativo {
        background: #6D5B46;
    }

    .login-form,
    .cadastro-form {
        position: relative;
        width: 400px;
        margin: 5px 0;
        transition: all .3s ease;
    }

    .login-form input,
    .cadastro-form input {
        width: 100%;
        height: 50px;
        background-color: #ffff;
        color: #666666;
        border: none;
        font-size: 16px;
        outline: none;
        border-radius: 10px;
        padding: 20px 40px 20px 20px;
    }

    .confirm {
        width: 100%;
        height: 50px;
        font-size: 16px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background: #211910;
        color: #ffff;
        font-weight: 600;
        box-shadow: 0, 0, 10px rgba(0, 0, 0, .1);
        margin: 20px 0px;
    }

    .confirm:hover {
        background-color: #6D5B46;
        transition: 0.3s;
    }

    .remember-forgot {
        display: flex;
        justify-content: space-between;
        margin: 10px 0 15px;
    }

    .remember-forgot input label {
        accent-color: #211910;
        margin-right: 5px;
    }

    .remember-forgot input {
        height: 15px;
        width: 15px;
        cursor: pointer;
    }

    .remember-forgot a {
        text-decoration: none;
        color: #211910;
    }

    .remember-forgot a:hover {
        text-decoration: underline;
    }

    .remember-forgot a:active {
        transform: scale(0.98);
    }

    .line {
        border-bottom: 1px solid #adaaaa;
        padding: 20px 0 0 20px;
    }

    .another-way {
        display: flex;
        justify-content: center;
        padding: 40px 0 25px 0;
    }

    .another-way a {
        color: #211910;
    }

    .another-way a:active {
        transform: scale(0.98);
    }

    /*main-section*/

    .image-section {
        max-width: 1440px;
        margin: 50px auto;
    }

    .image-section h2 {
        padding: 0 0 15 px 0;
    }

    .image-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px;
        gap: 20px;
        grid-template-areas:
            "primeira segunda"
            "terceira quarta";
    }

    .cappuccino {
        grid-area: primera;
    }

    .americanCoffee {
        grid-area: segunda;
    }

    .cha {
        grid-area: terceira;
    }

    .coffeMilk {
        grid-area: quarta;
    }

    .product-card {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: #ffff;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 20px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12);
        gap: 15px;
        flex-direction: row;
    }

    .product-card .description{
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Conteúdo do texto alinhado no topo */
        flex: 1;
        padding-top: 10px; /* Ajuste fino para posicionar o título */
    }

    .product-card .description h3 {
        margin: 0 0 8px 0;
        font-size: 18px;
        color: #211910;
    }

    .product-card .description p {
        margin: 20px 10px 0 0;
        font-size: 15px;
        color: #575555;
        line-height: 1.4;
    }

    .cappuccino img {
        width: 180px;
        height: 180px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 0 0px 12px rgba(0, 0, 0, 0.12);
        flex-shrink: 0;
    }

    
    /*Isso resolveu o problema do icone do carrinho dentro do botao*/

    /* antigo
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.12);
    */

    /* novo */
    .product-card img:not(.cart-icon) {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 0 0px 12px rgba(0, 0, 0, 0.12);
    }

    .description h3 {
        margin: 0;
    }

    .addCart {
        width: 100%;
        margin-top: auto;
    }

    .addCart .btn-cart{
        width: 50%;
        height: 50px;
        background: #211910;
        border: none;
        color: #ffff;
        font-size: 15px;
        border-radius: 10px;
        cursor: pointer;
        transition: transform .15s ease;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.12);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0 20px;
    }

    .addCart .btn-cart:hover{
        background: #6D5B46;
    }

    .addCart button:active{
        transform: scale(0.98);
    }

    .cart-icon {
        width: 24px !important; 
        height: 24px !important;
        filter: brightness(0) invert(1) !important;
        box-shadow: none !important;
        border-radius: 0 !important;
    }

    /*tela responsiva*/
    @media (max-width: 768px) {
    .product-card {
        flex-direction: column;
        text-align: center;
    }
    
    .product-card .description {
        align-items: center;
        padding-top: 0;
    }
    
    .product-card img {
        width: 150px;
        height: 150px;
        margin-top: 15px;
    }
}

    .underline{
        width: 100%;
        border-bottom: 2px solid #adaaaa;
        padding-top: 50px;
    }